<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="

    http://www.springframework.org/schema/beans

    http://www.springframework.org/schema/beans/spring-beans.xsd

    http://www.springframework.org/schema/util

    http://www.springframework.org/schema/util/spring-util.xsd">
	<!-- 读取连接池配置文件 -->
	<!-- <util:properties id="config"
		location="classpath:config/db.properties"></util:properties> -->
	<bean class="encrypt.PropertyPlaceholderConfigurorDES">
		<property name="locations">
			<list>
				<value>classpath:config/db.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="UTF-8"></property>
	</bean>
	<!-- 配置连接池,使用dbcp包 -->
	<bean id="dbcp" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="#{config.driver}" />
		<property name="url" value="#{config.url}" />
		<property name="username" value="#{config.username}" />
		<property name="password" value="#{config.password}" />
	</bean>
	<!-- 配置SqlSessionFactory -->
	<bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 连接池 -->
		<property name="dataSource" ref="dbcp" />
		<!-- Mybatis映射文件 -->
		<property name="mapperLocations"
			value="classpath:mapper/*.xml"></property>
	</bean>
	<!-- 配置mapper扫描 -->
	<bean id="mapperScanner"
		class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="stu.aewnfin.dao"></property>
	</bean>
</beans>
