<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.aewnfin.dao.AdminDao">
	
	<select id="findById" resultType="stu.aewnfin.entity.Admin">
		SELECT * FROM admin where id = #{id}
	</select>
	

</mapper>