<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stu.aewnfin.dao.PublishDao">
	
	<insert id="addPublish">
		INSERT INTO publish (author_id,penName,comic_id) VALUES (#{author_id},#{penName},#{comic_id})
	</insert>
	
	<select id="findAllByAuthorId" resultType="stu.aewnfin.entity.Publish">
		SELECT * FROM publish WHERE author_id = #{author_id}
	</select>
	
	<select id="truehavePublish" resultType="java.lang.Boolean">
		SELECT COUNT(1) FROM publish WHERE author_id = #{author_id} AND comic_id = #{comic_id}
	</select>
	
	
</mapper>